ShopFormsClient/Connected Services/CategoryReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Category" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICategory_CreateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCategory" />
  </wsdl:message>
  <wsdl:message name="ICategory_CreateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategory_ReadCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCategory" />
  </wsdl:message>
  <wsdl:message name="ICategory_ReadCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategory_UpdateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategory" />
  </wsdl:message>
  <wsdl:message name="ICategory_UpdateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategory_DeleteCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="ICategory_DeleteCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategory_GetCategoriesAsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesAsList" />
  </wsdl:message>
  <wsdl:message name="ICategory_GetCategoriesAsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesAsListResponse" />
  </wsdl:message>
  <wsdl:message name="ICategory_IdToName_InputMessage">
    <wsdl:part name="parameters" element="tns:IdToName" />
  </wsdl:message>
  <wsdl:message name="ICategory_IdToName_OutputMessage">
    <wsdl:part name="parameters" element="tns:IdToNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICategory_NameToId_InputMessage">
    <wsdl:part name="parameters" element="tns:NameToId" />
  </wsdl:message>
  <wsdl:message name="ICategory_NameToId_OutputMessage">
    <wsdl:part name="parameters" element="tns:NameToIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICategory_GetTimestamp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimestamp" />
  </wsdl:message>
  <wsdl:message name="ICategory_GetTimestamp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimestampResponse" />
  </wsdl:message>
  <wsdl:message name="ICategory_CheckTimestamp_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTimestamp" />
  </wsdl:message>
  <wsdl:message name="ICategory_CheckTimestamp_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTimestampResponse" />
  </wsdl:message>
  <wsdl:portType name="ICategory">
    <wsdl:operation name="CreateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategory/CreateCategory" message="tns:ICategory_CreateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategory/CreateCategoryResponse" message="tns:ICategory_CreateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategory/ReadCategory" message="tns:ICategory_ReadCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategory/ReadCategoryResponse" message="tns:ICategory_ReadCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategory/UpdateCategory" message="tns:ICategory_UpdateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategory/UpdateCategoryResponse" message="tns:ICategory_UpdateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategory/DeleteCategory" message="tns:ICategory_DeleteCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategory/DeleteCategoryResponse" message="tns:ICategory_DeleteCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoriesAsList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategory/GetCategoriesAsList" message="tns:ICategory_GetCategoriesAsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategory/GetCategoriesAsListResponse" message="tns:ICategory_GetCategoriesAsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IdToName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategory/IdToName" message="tns:ICategory_IdToName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategory/IdToNameResponse" message="tns:ICategory_IdToName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NameToId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategory/NameToId" message="tns:ICategory_NameToId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategory/NameToIdResponse" message="tns:ICategory_NameToId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimestamp">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategory/GetTimestamp" message="tns:ICategory_GetTimestamp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategory/GetTimestampResponse" message="tns:ICategory_GetTimestamp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckTimestamp">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategory/CheckTimestamp" message="tns:ICategory_CheckTimestamp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategory/CheckTimestampResponse" message="tns:ICategory_CheckTimestamp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICategory" type="tns:ICategory">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCategory">
      <soap:operation soapAction="http://tempuri.org/ICategory/CreateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCategory">
      <soap:operation soapAction="http://tempuri.org/ICategory/ReadCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <soap:operation soapAction="http://tempuri.org/ICategory/UpdateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/ICategory/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoriesAsList">
      <soap:operation soapAction="http://tempuri.org/ICategory/GetCategoriesAsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdToName">
      <soap:operation soapAction="http://tempuri.org/ICategory/IdToName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NameToId">
      <soap:operation soapAction="http://tempuri.org/ICategory/NameToId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimestamp">
      <soap:operation soapAction="http://tempuri.org/ICategory/GetTimestamp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTimestamp">
      <soap:operation soapAction="http://tempuri.org/ICategory/CheckTimestamp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Category">
    <wsdl:port name="BasicHttpBinding_ICategory" binding="tns:BasicHttpBinding_ICategory">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ShopService/Category/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>